{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your App</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar-left">
            <a href="/" class="logo">in</a>
            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="navbar-center">
            <a href="#"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="#"><i class="fas fa-user-friends"></i><span>My Network</span></a>
            <a href="#"><i class="fas fa-briefcase"></i><span>Jobs</span></a>
            <a href="#"><i class="fas fa-comment-dots"></i><span>Messaging</span></a>
            <a href="#"><i class="fas fa-bell"></i><span>Notifications</span></a>
        </div>
        <div class="navbar-right">
            <a href="#"><img src="{% static 'images/profile.jpg' %}" alt="Profile" class="profile-pic"><span></span></a>
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
